$body-padding: 15px;

$header-height: 75px;
$header-z-index: 100;

$content-width: 600px;
$content-min-width: 450px;
$sidebar-width: 200px;
$content-gap: 50px;

$block-outer-padding: 20px;
$block-inner-padding: 20px;
$block-border-radius: 15px;

$input-padding: 10px;
$btn-border-radius: 8px;
$btn-shadow-size: 2px 5px 10px -5px;
$menu-shadow-size: 0 2px 16px -9px;

$wide-content-width: 650px;
$wide-sidebar-width: 400px;

$line-height: 1.2;
$avatar-size: 42px;
$icon-size: $block-inner-padding;
$whitespace: 0.25em;
$emoji-size: 24px;

$screen-breakpoint-medium: 1000px;
$screen-breakpoint-small: 700px;
$screen-breakpoint-x-small: 400px;
