@mixin main-background {
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
}

@mixin content-list-header {
  background-color: var(--block-background-color);
  border-radius: $block-border-radius;
  font-weight: bold;
  padding: calc($block-inner-padding / 2);
  text-align: center;
}

@mixin content-message {
  background-color: var(--block-background-color);
  border-radius: $block-border-radius;
  padding: $block-inner-padding;
  text-align: left;
}

@mixin floating-avatar {
  display: block;
  height: 0;

  .avatar {
    aspect-ratio: 1 / 1;
    float: left;
    height: $avatar-size;
    margin-left: calc(0px - $avatar-size - $block-inner-padding * 2);
    margin-top: calc(0px - $avatar-size / 2);
    width: auto;
  }

  @media screen and (max-width: $screen-breakpoint-medium) {
    align-items: center;
    display: flex;
    height: calc($text-font-size * $line-height * 2);

    .avatar {
      float: none;
      height: 80%;
      margin-left: 0;
      margin-top: 0;
    }
  }
}

@mixin block-link {
  color: var(--block-link-color);

  &:hover {
    color: var(--block-link-hover-color);
  }
}

@mixin block-external-link {
  color: var(--block-external-link-color);

  &:hover {
    color: var(--block-external-link-hover-color);
  }
}

@mixin standard-icon {
  height: $icon-size;
  min-width: $icon-size;
  width: $icon-size;
}

@mixin block-icon {
  .icon {
    color: var(--secondary-text-color);

    svg {
      @include standard-icon;

      fill: var(--secondary-text-color);

      &.feather,
      &.line,
      &.tabler {
        fill: none;
        stroke: var(--secondary-text-color);
      }
    }
  }

  a.icon:hover,
  button.icon:hover,
  .icon.highlighted {
    color: var(--secondary-text-hover-color);

    svg {
      fill: var(--secondary-text-hover-color);

      &.feather,
      &.line,
      &.tabler {
        fill: none;
        stroke: var(--secondary-text-hover-color);
      }
    }
  }

  button.icon[disabled] {
    color: var(--secondary-text-disabled-color);

    svg {
      fill: var(--secondary-text-disabled-color);

      &.feather,
      &.line,
      &.tabler {
        fill: none;
        stroke: var(--secondary-text-disabled-color);
      }
    }
  }
}

@mixin post-action {
  align-items: center;
  display: flex;
  font-weight: bold;
  margin: 0 $block-outer-padding calc($block-outer-padding / 2);

  svg {
    @include standard-icon;

    fill: var(--text-color);
    margin-right: calc($block-outer-padding / 2);

    &.feather,
    &.line,
    &.tabler {
      fill: none;
      stroke: var(--text-color);
    }
  }

  a {
    margin-right: $whitespace;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin post-icon {
  @include block-icon;

  .icon {
    align-items: center;
    display: flex;
    gap: $whitespace;
  }

  .icon-small svg {
    $icon-size-small: calc($icon-size / $line-height);

    height: $icon-size-small;
    min-width: $icon-size-small;
    width: $icon-size-small;
  }
}

@mixin media-btn {
  background-color: var(--block-background-color);
  border-radius: $btn-border-radius;
  color: var(--link-color);
  padding: $input-padding;

  svg {
    @include standard-icon;

    display: block;
    fill: var(--link-color);

    &.feather {
      fill: none;
      stroke: var(--link-color);
    }
  }

  &:hover {
    color: var(--link-hover-color);

    svg {
      fill: var(--link-hover-color);

      &.feather {
        fill: none;
        stroke: var(--link-hover-color);
      }
    }
  }
}

@mixin block-dropdown-menu {
  position: relative;

  menu {
    background-color: var(--block-background-color);
    border: 1px solid var(--separator-color);
    border-radius: $btn-border-radius;
    box-shadow: $menu-shadow-size var(--shadow-color);
    display: flex;
    flex-direction: column;
    gap: calc($block-inner-padding / 2);
    padding: calc($block-inner-padding / 2);
    position: absolute;
    white-space: nowrap;
    z-index: 3;

    li {
      display: flex;  /* all children become blocks */

      > * {
        width: 100%;
      }
    }

    li[role="separator"] {
      border-top: 1px solid var(--separator-color);
    }
  }
}

@mixin block-btn {
  .btn {
    border: 1px solid transparent;
    box-shadow: none;

    &:hover {
      background-color: transparent;
      border: 1px solid var(--btn-background-color);
    }

    &[disabled] {
      border: 1px solid transparent !important;
    }
  }

  .btn.secondary {
    &:hover {
      border: 1px solid var(--btn-secondary-text-color);
    }
  }
}

@mixin content-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: $block-outer-padding;

  input[type="password"],
  input[type="text"],
  input[type="number"],
  textarea {
    border-radius: $btn-border-radius;
    width: 100%;
  }

  .input-group {
    width: 100%;

    label {
      display: inline-block;
      font-weight: bold;
      margin-bottom: $input-padding;
    }

    .sub-label {
      color: var(--secondary-text-color);
      font-size: 12px;
      font-weight: normal;
      margin-top: 3px;
    }

    &:has(input[type="checkbox"]) label {
      margin-bottom: 0;
    }

    input[type="checkbox"] {
      margin-top: 0.1em;
      vertical-align: top;
    }

    select {
      display: block;
    }
  }

  .error-message {
    color: $error-color;
  }
}

@mixin content-form-suggestions {
  .suggestions {
    background-color: var(--block-background-color);
    border-radius: $btn-border-radius;
    display: flex;
    flex-direction: column;
    margin-top: 1px;

    button {
      padding: calc($input-padding / 2) $input-padding;
      text-align: left;
      word-wrap: break-word;

      &:first-child {
        padding-top: $input-padding;
      }

      &:last-child {
        padding-bottom: $input-padding;
      }
    }
  }
}

@mixin emoji {
  img {
    color: transparent;
    object-fit: contain;
  }
}

/* Without zoom-in effect */
@mixin emoji-inline {
  :deep(.emoji) {
    @include emoji;

    /* TODO: use 'lh' unit https://developer.mozilla.org/en-US/docs/Web/CSS/length */
    height: $line-height * 1em;
    width: $line-height * 1em;

    img {
      display: inline-block;
      height: inherit;
      vertical-align: text-bottom;
      width: inherit;
    }
  }
}

// Doesn't work properly inside elements with overflow:hidden
@mixin emoji-zoom {
  @include emoji;

  display: inline-block;
  position: relative;
  vertical-align: text-bottom;

  img {
    height: inherit;
    left: 0;
    max-width: none;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: 0;

    &:hover {
      transform: scale(2);
      transition: 100ms linear;
      transition-delay: 0.5s;
      z-index: 1;
    }
  }
}
