$text-font: system-ui, sans-serif;
$text-font-size: 15px;

/* Light theme */

$background-color: #f3f2ed;
$background-image: none;

$text-color: #333;
$secondary-text-color: #999;
$secondary-text-hover-color: #666;
$secondary-text-disabled-color: #B3B3B3;
$link-color: #484747;
$link-hover-color: #000000;

$btn-background-color: $text-color;
$btn-background-hover-color: #fff;
$btn-text-color: #fff;
$btn-text-hover-color: $text-color;
$btn-secondary-background-color: #CCCBC6;
$btn-secondary-text-color: $text-color;
$btn-disabled-background-color: #ddd;
$btn-disabled-text-color: #999;

$block-background-color: #fff;
$block-link-color: #7d6a4f;
$block-link-hover-color: #1A0000;
$block-external-link-color: #6c491c;
$block-external-link-hover-color: $block-link-hover-color;
$separator-color: #EBEAE5;
$widget-background-color: #F7F5F5;
$widget-active-background-color: #EDEADB;
$widget-active-border-color: #B3B0A1;
$highlight-color: #FFA500;
$loader-color: #999;
$shadow-color: #B7B5B5;

/* Dark theme */

$dark-background-color: #12110C;
$dark-background-image: none;

$dark-text-color: #cccccc;
$dark-secondary-text-color: #8C8C8C;
$dark-secondary-text-hover-color: #B3B3B3;
$dark-secondary-text-disabled-color: #707070;
$dark-link-color: #b7b8b8;
$dark-link-hover-color: #fff;

$dark-btn-background-color: $dark-text-color;
$dark-btn-background-hover-color: #4D4D4D;
$dark-btn-text-color: #000;
$dark-btn-text-hover-color: $dark-text-color;
$dark-btn-secondary-background-color: #333;
$dark-btn-secondary-text-color: $dark-text-color;
$dark-btn-disabled-background-color: #222222;
$dark-btn-disabled-text-color: #666666;

$dark-block-background-color: #2B2B2B;
$dark-block-link-color: #D9C6AE;
$dark-block-link-hover-color: #F2E2CD;
$dark-block-external-link-color: #E3C093;
$dark-block-external-link-hover-color: $dark-block-link-hover-color;
$dark-separator-color: #3B3B3B;
$dark-widget-background-color: #1A1A1A;
$dark-widget-active-background-color: #404040;
$dark-widget-active-border-color: #666666;
$dark-highlight-color: #B37400;
$dark-loader-color: #666666;
$dark-shadow-color: #666;

/* Misc */

$warning-color: #C87000;
$error-color: #FF4D4D;
$greentext-color: #789922;

/* Landing page */

$landing-background-color: #000;
$landing-background-image: url("@/assets/startpage.png");
$landing-text-color: #fff;
$landing-accent-color: #7DFF54;

$landing-block-background-color: #1A1818;
$landing-btn-text-color: #fff;
$landing-btn-background-color: #3D3D3D;
$landing-input-background-color: #2E2C2C;
$landing-input-addon-color: #B3B3B3;
$landing-login-btn-background-color: linear-gradient(to right, #FF5959, #FF5EAD, #D835FE, #D963FF);
$landing-login-btn-background-hover-color: linear-gradient(to right, #FF7373, #FF78BA, #DD4FFE, #DF7DFF);
$landing-login-btn-shadow-color: #BB5CC7;

/* About page (experimental) */
$about-background-color: transparent;
